body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

form {
    width: 400px;
    margin: 0 auto;
    background-color: #bae4c1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
select {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 40%;
    padding: 12px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
}