{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='{% static "css/prueba.css" %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Proyecto Django</title>

</head>
<body>
    <div>
        <a href="{% url 'principal' %}" style="text-decoration: none;">
            <i class="fas fa-arrow-left"></i> Volver
        </a>    
    <div class="titulo">
        <h1>Eliminar</h1> 
     </div>
     <form action="" method="post">
        
         <label for="id_canino">ID del Canino:</label>
         <input type="text" id="id_canino" name="id_canino" placeholder="ID Canino" required>
         
         <label for="seleccione">Tipo de Prueba:</label>
         <select id="seleccione" name="seleccione" required>
             <option value="">Seleccione...</option>
             <option value="opcion1">Opción 1</option>
             <option value="opcion2">Opción 2</option>
             <option value="opcion3">Opción 3</option>
         </select>
 
         <label for="seleccione">Diagnóstico:</label>
         <select id="seleccione" name="seleccione" required>
             <option value="">Seleccione...</option>
             <option value="opcion1">Opción 1</option>
             <option value="opcion2">Opción 2</option>
             <option value="opcion3">Opción 3</option>
         </select>
         <a href="#">
         <input type="submit" value="Eliminar Registro ">
         </a>
     </form>
</body>
</html>
