{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   
    <link rel="stylesheet" type="text/css" href="{% static 'css/listado.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procesamiento de Datos</title>
    <style>
        
    </style>
</head>
<body>
    <div>
        <a href="{% url 'principal' %}" style="text-decoration: none;">
            <i class="fas fa-arrow-left"></i> Volver
        </a>
    <div class="titulo">
       <h1>Procesamiento de Datos</h1> 
    </div>
    <form action="" method="post">
        
        <a href="#">
            <input type="submit" value="Iniciar Analisis">
        </a>
        
        <label for="seleccione">Seleccione una acción:</label>
        <select id="seleccione" name="seleccione" required>
            <option value="">Seleccione...</option>
            <option value="opcion1">Opción 1</option>
            <option value="opcion2">Opción 2</option>
            <option value="opcion3">Opción 3</option>
        </select>
    
    </form>
</body>
</html>
